.btn{
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5em 1em;
    color: red;
    background-color: pink;
    border: 10px solid red;
    border-radius: 5px;

    /*transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;*/

    transition: transform 0.3s;

}

.btn:hover{
    transform: translateY(-10px);
}

@keyframes slideInLeft {
    from{
        transform: translateX(300px);
    }

    to{
        transform: translateX(-300);
    }
}

/*Utility classes*/
.animate{
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animate.animate--infinite{
    animation-iteration-count: infinite;
}
.animate.animate--delay-1s{
    animation-delay: 1s;
}
.animate.animate--fast{
    animation-duration: 0.6s;
}
.animate.animate--slow{
    animation-duration: 3s;
}
/* utility classes*/

.slideInLeft{
    animation-name: slideInLeft;
    animation-timing-function: ease-in;
}

@keyframes slideInRight {
    from{
        transform: translateX(0px);
    }

    to{
        transform: translateX(300);
    }
}
.slideInRight{
    animation-name: slideInRight;
    animation-timing-function: ease-in;
}


@keyframes rotate {
    from{
        transform: rotate(0);
    }

    to{
        transform: rotate(360deg);
    }
}
.rotate{
    animation-name: rotate;
    animation-timing-function: linear;

    transform-origin: top right;
}


@keyframes bounce{
    0%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(300px);
    }
    100%{
        transform: translateY(0);
    }
}

.bounce{
    animation-name: bounce;
}
